<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>
<body>
<a href="index.php">Главная</a>
<a href="?c=product&a=catalog">Каталог</a>
<br>

{{ content | raw }}

</body>
</html>